[Desktop Entry]
Name=Obsidian
Exec=/home/qkezz/.appimg/obsidian/Obsidian-1.3.5.AppImage     
Terminal=false
Type=Application
Icon=/home/qkezz/.appimg/obsidian/obsidian.png
Comment=Obsidian
Categories=Office;

